{%- liquid
  assign carts = customer.metafields.account.cart_templates.value
  assign customer_tags = customer.tags
  for tag in customer_tags
    if tag contains 'id:'
      assign customer_external_id = tag | split: ':' | last
    endif
  endfor
-%}

<section data-component='accountCartTemplates' class='hidden' {{ attributes -}}>
  <div class='flex justify-between align-center border-b border-black pb-5'>
    <h5 class='text-heading-5'>
      {{- 'customer.account.carts.saved_carts' | t -}}
    </h5>
    {%- if carts and carts.size > 0 -%}
      <span data-carts-count>
        (<span data-carts-length>
          {{- carts.size -}}</span
        >/10)
      </span>
    {%- endif -%}
  </div>
  <table
    data-container
    class='w-full table-fixed hidden is-active:opacity-50 is-active:pointer-events-none {% if carts.size > 0 -%} lg:table {%- endif -%}'
  >
    <thead>
      <tr class='text-heading-7 border-b border-grey-5'>
        <td class='py-7'>{{- 'customer.account.carts.name' | t -}}</td>
        <td class='py-7 px-2'>{{- 'customer.account.carts.created_at' | t -}}</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {%- for cart in carts -%}
        <tr data-cart='{{- cart.id -}}' class='border-b border-grey-5'>
          <td class='py-7 truncate'>{{- cart.name -}}</td>
          <td class='py-7 px-2'>{{- cart.updated_at | date: '%Y-%m-%d' -}}</td>
          <td class='py-7'>
            <div class='flex justify-end gap-10 pr-[130px]'>
              <a
                href='{{- routes.root_url -}}pages/share-cart?agentId={{- customer_external_id -}}&cartId={{- cart.id -}}'
                class='underline mr-5'
              >
                {{- 'customer.account.carts.view_cart' | t -}}
              </a>
              <button data-delete-cart-btn data-id='{{- cart.id -}}' class='underline'>
                {{- 'customer.account.carts.delete' | t -}}
              </button>
            </div>
          </td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
  <div
    data-container
    class='block is-active:opacity-50 is-active:pointer-events-none {% if carts.size > 0 -%} lg:hidden {%- endif -%}'
  >
    {%- for cart in carts -%}
      <div data-cart='{{- cart.id -}}' class='py-10 border-b border-grey-5'>
        <div class='grid grid-cols-2 justify-between items-center mb-5'>
          <div>
            <p class='text-heading-7 mb-1'>{{- 'customer.account.carts.name' | t -}}</p>
            <p>{{- cart.name -}}</p>
          </div>
          <div>
            <p class='text-heading-7 mb-1'>{{- 'customer.account.carts.created_at' | t -}}</p>
            <p>{{- cart.updated_at | date: '%b %e, %Y' -}}</p>
          </div>
        </div>
        <div>
          <a
            href='{{- routes.root_url -}}pages/share-cart?agentId={{- customer_external_id -}}&cartId={{- cart.id -}}'
            class='underline mr-5'
          >
            {{- 'customer.account.carts.view_cart' | t -}}
          </a>
          <button data-delete-cart-btn data-id='{{- cart.id -}}' class='underline'>
            {{- 'customer.account.carts.delete' | t -}}
          </button>
        </div>
      </div>
    {%- endfor -%}
  </div>
  {%- render 'component.popup',
    title: 'customer.account.carts.delete_cart',
    content_snippet: 'cart.delete-popup.content',
    footer_snippet: 'cart.delete-popup.footer',
    type: 'delete-cart'
  -%}

  <div
    data-empty
    class='mt-10 {% if carts == blank or carts.size == 0 -%}block{%- else -%}hidden{%- endif -%} '
  >
    <p class='mb-7 lg:mb-9'>{{- 'customer.account.carts.empty' | t -}}</p>
    {%- render 'component.button',
      text: 'cart.general.go_shopping',
      style: 'primary',
      class: 'px-8 lg:px-12 block w-fit',
      href: '/collections/all'
    -%}
  </div>
</section>
