<section
  data-component='orders'
  class='hidden'
  {{ attributes -}}
>
  {%- unless agent -%}
    <header>
      <h5 class='text-heading-5 pb-5 border-b border-black'>
        {{- 'customer.account.orders.title' | t -}}
      </h5>
    </header>
    <div data-orders class='group'>
      {%- render 'account.orders-data' -%}
      {%- render 'loading-indicator', class: 'hidden pt-10 group-is-active:flex' -%}
    </div>
    <div data-no-orders class='hidden'>
      <p>{{- 'customer.account.orders.no_orders_yet' | t -}}</p>
      {%- render 'component.button',
        text: 'customer.account.orders.shop_now_button',
        style: 'primary',
        class: 'mt-7 lg:mt-9 px-8 lg:px-12 inline-block',
        href: routes.collections_url
      -%}
    </div>
  {%- else -%}
    <label class='text-heading-7 block mb-3'>
      {{- 'customer.account.orders.select_customer' | t -}}
    </label>
    {%- render 'select',
      placeholder: 'customer.account.orders.select_customer',
      class: 'h-[4em] w-[500px] max-w-full text-black border-gray-4 border',
      attributes: 'data-select-customer',
      px: '1.25em',
      allow_empty: true
    -%}
    <p data-customer-select-text class='mt-10 mb-[100px]'>
      {{- 'customer.account.orders.select_customer_info' | t -}}
    </p>
    <p data-no-orders class='mt-10 mb-[100px] hidden'>
      {{- 'customer.account.orders.customer_no_orders' | t -}}
    </p>
    <div data-orders class='group mt-7 lg:mt-[60px]'>
      {%- render 'account.orders-data', include_title: true -%}
      {%- render 'loading-indicator', class: 'hidden group-is-active:flex py-6' -%}
    </div>
  {%- endunless -%}
</section>
