<div
  data-component='cartItem'
  data-product-id='{{- item.product_id -}}'
  data-item
  class='flex justify-between gap-4 lg:gap-[60px] py-3 lg:py-5 border-b border-b-grey-5 first-of-type:border-t first-of-type:border-t-grey-5'
>
  <div class='min-w-[62px] lg:min-w-[120px] w-min'>
    {%- render 'product-image', img: item.image, placeholder: shared -%}
  </div>
  <div class='w-[fill-available] lg:self-center'>
    {%- unless shared -%}
      {%- for line_item in product_variants -%}
        <input
          data-variant
          name='{{- line_item.id -}}'
          type='hidden'
          value='{{- line_item.quantity -}}'
        >
      {%- endfor -%}
    {%- endunless -%}
    <div class='flex justify-between'>
      <p
        data-title-elem
        title='{%- if item.product.title -%}{{- item.product.title -}}{%- endif -%}'
        class='max-w-[190px] lg:max-w-[420px] mr-4 truncate'
      >
        {%- if item.product.title -%}
          {{- item.product.title -}}
        {%- endif -%}
      </p>
      <p>
        {%- if shared -%}
          <span data-currency-elem></span>
        {%- endif -%}
        <span data-price-elem>
          {%- if item.price -%}
            {{- item.price | money -}}
          {%- endif -%}
        </span>
      </p>
    </div>
    <div class='flex justify-between mt-1 lg:mt-2'>
      <div data-quantity-container class='grid grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-3'>
        {%- for line_item in product_variants -%}
          {%- render 'cart.quantity', item: line_item -%}
        {%- endfor -%}
      </div>
      {%- unless shared -%}
        <div>
          <button
            data-edit
            type='button'
            data-id='{{- item.product_id -}}'
            class='ml-auto underline block mb-1 lg:mb-2'
          >
            {{- 'cart.product_item.edit' | t -}}
          </button>
          <label for='submit-remove-{{- item.product_id -}}' class='underline cursor-pointer'>
            {{- 'cart.product_item.remove' | t -}}
          </label>
        </div>
      {%- endunless -%}
    </div>
  </div>
  <template data-quantity-template>
    {%- render 'cart.quantity' -%}
  </template>
  {%- if shared -%}
    <template data-product-shared-data-template>
      <input data-input-id type='hidden' name='items[][id]'>
      <input data-input-quantity type='hidden' name='items[][quantity]'>
      {%- render 'cart.quantity' -%}
    </template>
  {%- endif -%}
</div>
