{%- comment -%}
  Expected behaviour:
    Renders the product item

  About:
    Render the product item with default styling.

  Accepts:
    - product: {Object} The product object

  Usage:
    {% render 'component.product', product: product %}
{%- endcomment -%}
{%- liquid
  assign product_title_parts = product.title | split: '-'
  assign product_title = product_title_parts | first | strip
  assign product_color = product_title_parts | last | strip
-%}
<div class='relative max-w-full'>
  {%- capture image_attributes -%}href='{{- product.url -}}'{%- endcapture -%}
  {%- render 'product-image', tag: 'a', width: 1024, attributes: image_attributes -%}
  <div class='flex justify-between gap-2 mt-4'>
    <p class='truncate' title='{{- product_title -}}'>{{- product_title -}}</p>
    <p>
      <span class='{%- if product.compare_at_price -%} text-red-light {%- endif -%}'>
        {{- product.price | money -}}
      </span>
      {%- if product.compare_at_price -%}
        &nbsp;<span class='line-through'>{{- product.compare_at_price | money -}}</span>
      {%- endif -%}
    </p>
  </div>
  <div class='flex justify-between mb-5 text-grey-3'>
    <p>{{- product.metafields.details.color | default: product_color | default: '&nbsp;' -}}</p>
    <p>{{- product.metafields.details.sku | default: '&nbsp;' -}}</p>
  </div>
  {% render 'quick-add-button', product: product %}
  {%- if product.compare_at_price_max > product.price -%}
    <span class='absolute text-detailed top-4 left-4 py-[3.5px] px-3 text-white bg-red-light rounded-[100px]'>
      -
      {{-
        product.compare_at_price_max
        | minus: product.price
        | times: 100
        | divided_by: product.compare_at_price_max
      -}}
      %
    </span>
  {%- endif -%}
</div>
