{%- comment -%}
  Expected behaviour:
    Renders a <button> or <a> with text inside

  About:
    Render a <button></button> or <a></a> element with default styling

  Accepts:
    - text: {String / Translation} Button text. Can be either the translation path or a normal string
    - href: {String} Href of <a> [Only needed if <a>]

    OPTIONAL
    - class: {String} class to add to the button
    - id: {String} Id of the button
    - attributes: {String} Additional attributes you want to add, like data-attributes
    - type: {String} (Default: button) Button type attribute i.e. button || submit || reset [Only applicable if <button>]
    - name: {String} Name of button [Only applicable if <button>]
    - style: {String} Add one of the predefined button styles primary || secondary || transparent
    - size: {String} Add one of the predefined button sizes sm || lg
    - icon: {String} Icon type from 'component.icon'
    - icon_class: {String} Icon element classname
    - has_loading_state: {Boolean} If button has loading state
    - loading_class: {String} Class for loading indicator
    - text_loading_class: {String} Class for text while loading

  Usage:
    Example of <button> with translation text
    {% render 'component.button',
      text: 'products.product.add_to_wishlist',
      class: 'p-4 lg:p-6',
      type: 'submit',
      name: 'wishlist',
      attributes: 'data-wishlist-button'
    %}

    Example of <a> with hardcoded string
    {% render 'component.button',
      text: 'Go to article',
      id: 'article-link',
      href: s.article_link
    %}
{%- endcomment -%}

{%- liquid
  assign translated_text = text | t

  unless translated_text contains 'translation missing:'
    assign text = translated_text
  endunless

  assign button_size = size | default: 'md'

  capture button_style
    case style
      when 'primary'
        echo 'text-white bg-black border border-black hover:bg-white hover:text-black  '
      when 'primary_reversed'
        echo 'text-black bg-white border border-grey-4 hover:border-black hover:bg-black hover:text-white  '
      when 'secondary'
        echo 'text-black bg-white border border-grey-4 hover:text-white hover:bg-grey-4 '
      when 'transparent'
        echo 'text-white border border-white px-8 lg:px-12 hover:text-black hover:bg-white '
    endcase
  endcapture

  capture button_size_style
    case button_size
      when 'sm'
        echo 'py-3 '
      when 'md'
        echo 'py-4 '
      when 'lg'
        echo 'py-6 '
    endcase
  endcapture

  assign default_class = 'text-body-sm duration-[400ms] '
  assign classes = button_size_style | append: button_style | append: default_class | append: class
-%}

{% liquid
  if href
    assign tag = 'a'
    assign tag_extras = 'href="' | append: href | append: '"'
  else
    assign type = type | default: "button"
    assign tag = 'button'
    assign tag_extras = 'type="' | append: type | append: '"'
    if name != blank
      assign tag_extras = tag_extras | append: ' name="' | append: name | append: '"'
    endif
  endif
%}

<{{ tag }} {{ tag_extras }} id='{{- id -}}' class='{{- classes -}}' {{ attributes -}}>
  {%- if has_loading_state -%}
    <span class='{{- text_loading_class -}}'>{{- text -}}</span>
    {%- render 'loading-indicator'
      class: loading_class
    -%}
  {%- else -%}
  {{- text -}}
  {%- endif -%}
  {%- if icon -%}
    {%- render 'component.icon'
      type: icon
      class: icon_class
    -%}
  {%- endif -%}
</{{ tag }}>
