{%- liquid
  assign available_countries = shop.metafields.functions.countries.value | default: localization.available_countries

  assign select_attributes = 'name="country_code"' | append: ' data-current="' | append: localization.country.iso_code | append: '"'

  unless customer.tags contains 'agent'
    assign select_attributes = select_attributes | append: ' data-store-customer="' | append: customer.metafields.store.country_code | append: '"'
  endunless
-%}

{%- capture options -%}
  {% for country in available_countries %}
    {%- liquid
      if shop.domain contains 'karhu-b2b'
        assign url = country.shopUrl
      else
        assign url = country.customShopUrl
      endif
    -%}
    <option
      value='{{ country.iso_code }}'
      {%- if country.shopUrl and country.customShopUrl -%}
        {%- unless country.shopUrl contains shop.domain or country.customShopUrl contains shop.domain -%}
          data-url='{{- url -}}'
        {%- endunless-%}
      {%- endif -%}
      {%- if country.iso_code == localization.country.iso_code %}
        selected
      {%- endif -%}
    >
      {{ country.name }} (
      {{- country.currency.symbol -}}
      )
    </option>
  {% endfor %}
{%- endcapture -%}

<section
  data-component='countrySelect'
  class='{{- class }} hidden'
>
  {% form 'localization' %}
    {%- render 'select',
      select_attributes: select_attributes,
      class: 'w-[150px] h-[1.4em]',
      options: options,
      select_class: 'bg-black'
    -%}
  {% endform %}
</section>
