{%- liquid
  assign available_countries = shop.metafields.functions.countries.value | default: localization.available_countries
-%}

{%- capture options -%}
  {% for country in available_countries %}
    <option
      value='{{ country.iso_code }}'
      {%- if country.shopUrl and country.shopUrl != shop.url -%}
        data-url='{{- country.shopUrl -}}'
      {%- endif -%}
      {%- if country.iso_code == localization.country.iso_code %}
        selected
      {%- endif -%}
    >
      {{ country.name }} (
      {{- country.currency.symbol -}}
      )
    </option>
  {% endfor %}
{%- endcapture -%}

{%- capture select_attributes -%}
  name="country_code" data-current="
  {{- localization.country.iso_code -}}
  "
{%- endcapture -%}

<section data-component='countrySelect'>
  {% form 'localization' %}
    {%- render 'select',
      placeholder: 'general.header.select_customer',
      select_attributes: select_attributes,
      class: 'w-[200px] h-[1.4em]',
      options: options
    -%}
  {% endform %}
</section>
