<template data-orders-table-row>
  <tr class='border-b border-grey-5'>
    <td data-order-number class='py-7'></td>
    <td data-date class='py-7'></td>
    <td data-order-status class='py-7'></td>
    <td class='flex py-7'>
      <span data-currency-code></span>
      <span data-price></span>
    </td>
    <td class='py-7'>
      <a data-status-url target='_blank' class='underline'>View details</a>
    </td>
  </tr>
</template>
<template data-orders-block>
  <div class='grid grid-cols-2 gap-4 py-10 border-b border-grey-5'>
    <div>
      <p class='text-heading-7'>{{- 'customer.account.orders.number' | t -}}</p>
      <p data-order-number></p>
    </div>
    <div>
      <p class='text-heading-7'>{{- 'customer.account.orders.date' | t -}}</p>
      <p data-date></p>
    </div>
    <div>
      <p class='text-heading-7'>{{- 'customer.account.orders.order_status' | t -}}</p>
      <p data-order-status></p>
    </div>
    <div>
      <p class='text-heading-7'>{{- 'customer.account.orders.total' | t -}}</p>
      <p class='flex'>
        <span>{{- cart.currency.symbol -}}</span>
        <span data-price></span>
      </p>
    </div>
    <div>
      <p class='text-heading-7'>{{- 'customer.account.orders.details' | t -}}</p>
      <a data-status-url target='_blank' class='underline'>
        {{- 'customer.account.orders.view_details' | t -}}
      </a>
    </div>
  </div>
</template>
