{%- liquid
  assign default_size_index = 1
  assign size_locales = 'eu|us|uk' | split: '|'
  assign is_cart = is_cart | default: false
-%}
<div>
  <div class='text-heading-7 text-grey-1 flex justify-between items-center mb-3'>
    <p>Select amount</p>
    {% comment %}
       <div class='flex lg:gap-2'>
        {%- for l in size_locales -%}
          <button
            data-size-button
            type='button'
            class='
              text-grey-4 w-9 h-9 lg:h-fit lg:w-fit is-active:text-inherit {% if forloop.index0 == default_size_index -%}
                is-active
              {%- endif -%}
            '
          >
            {{ l | upcase }}
          </button>
        {%- endfor -%}
      </div>
    {% endcomment %}
  </div>
  <div class='grid grid-cols-3 lg:grid-cols-4 gap-4'>
    {%- for variant in product.variants -%}
      {%- liquid
        assign quantity = variant.inventory_quantity
        assign label_prefix_class = 'w-2 h-2 mr-2 rounded '
        if quantity > 1
          assign label_prefix_class = label_prefix_class | append: 'bg-green-light'
        elsif quantity == 1
          assign label_prefix_class = label_prefix_class | append: 'bg-orange'
        else
          assign label_prefix_class = label_prefix_class | append: 'bg-red-light'
        endif
      -%}
      <fieldset class='flex flex-col gap-1 text-body-xs {%- if quantity <= 0 and is_cart == false %} pointer-events-none {%- endif -%}'>
        <label for='{{- variant.id -}}'>
          <span class='inline-block {{ label_prefix_class }}'></span>
          {%- render 'locale-size-label',
            size: variant.option1,
            locales: size_locales,
            default_index: default_size_index
          -%}
        </label>
        {%- liquid
          assign current_variant_quantity = 0
          if is_cart
            assign input_name = 'updates[' | append: variant.id | append: ']'
            assign current_variant = product_variants | where: 'id', variant.id | first
            if current_variant
              assign current_variant_quantity = current_variant.quantity
            endif
          else
            assign idx = forloop.index | minus: 1
            assign input_name = 'items[' | append: idx | append: '][quantity]'
          endif
        -%}
        {%- unless is_cart -%}
          <input
            type='hidden'
            name='items[{{- forloop.index | minus: 1 -}}][id]'
            value='{{- variant.id -}}'
          >
        {%- endunless -%}
        <input
          data-quantity-inputs
          id='{{- variant.id -}}'
          name='{{- input_name -}}'
          class='w-full appearance-none border border-grey-4 px-[13.5px] py-1.5 mt-0 {%- if quantity <= 0 and is_cart == false %} bg-grey-6 {%- endif -%}'
          type='number'
          value='{{- current_variant_quantity -}}'
          min='0'
          max='{{- quantity -}}'
          pattern='^[0-9]*$'
          {%- if quantity <= 0 and is_cart == false -%}
            readonly
          {%- endif -%}
        >
      </fieldset>
    {%- endfor -%}
  </div>
</div>
