{%- liquid
  assign translated_text = title | t

  unless translated_text contains 'Translation missing:'
    assign title = translated_text
  endunless
-%}

<div
  class='border-b border-b-grey-5 group {% if active -%}is-active{%- endif -%}'
  data-component='accordion'
  data-group='{{ group }}'
>
  <button type='button' class='flex w-full items-center justify-between py-7' data-toggle>
    <p class='text-heading-7'>{{- title -}}</p>
    <div data-expand-btn>
      {%- render 'component.icon', type: 'plus' -%}
    </div>
    <div data-shrink-btn class='w-5 h-5 items-center justify-center hidden'>
      <span class='w-[10px] h-[1px] bg-black inline-block'></span>
    </div>
  </button>
  <article
    class='h-0 overflow-hidden transition-all duration-500 group-is-active:h-[var(--innerHeight)] group-is-active:mb-7 text-body-sm'
    data-inner
  >
    {%- if content -%}
      <div class='mb-8 prose'>
        {{- content -}}
      </div>
    {%- endif -%}
    {%- if view_more_text != '' -%}
      <button data-modal-type='{{ group }}' data-toggle-modal-btn class='text-grey-4'>
        {{- view_more_text | t -}}
      </button>
    {%- endif -%}
  </article>
</div>
