{%- liquid
  assign px = px | default: '0px'
  assign py = py | default: '0px'
-%}

<div
  {{ attributes }}
  style='--select-padding-x: {{ px -}}; --select-padding-y: {{ py -}};'
  class='relative flex gap-4 justify-between cursor-pointer flex-none {{ class -}}'
>
  <select
    data-select
    {{ select_attributes }}
    class='{%- if select_class -%} {{- select_class -}} {%- else -%} bg-inherit {%- endif %} appearance-none cursor-pointer text-inherit w-full h-full is-loading:animate-pulse is-loading:text-opacity-50 is-loading:cursor-wait px-[var(--select-padding-x)] py-[var(--select-padding-y)]'
  >
    {%- if placeholder != blank -%}
      <option
        value=''
        selected
        {% if allow_empty == blank -%}
          disabled
        {%- endif -%}
      >
        {{- placeholder | t -}}
      </option>
    {%- endif -%}
    {{ options -}}
  </select>
  <span class='absolute top-0 bottom-0 right-[calc(var(--select-padding-x)/1.25)] flex flex-none justify-center pointer-events-none'>
    {% render 'component.icon', type: 'select-arrow', class: 'w-[1em]' %}
  </span>
</div>
