<!doctype html>
<html class='no-js' lang='{{ request.locale.iso_code }}'>
  {%- assign send_to_login = true -%}
  {%- liquid
    if customer
      assign send_to_login = false
    endif
    if template contains 'customers'
      assign send_to_login = false
    endif
    if request.path contains '/challenge'
      assign send_to_login = false
    endif
    if request.design_mode == true
      assign send_to_login = false
    endif
  -%}
  {%- if send_to_login -%}
    {%- liquid
      assign contentForQuerystring = content_for_header
      assign pageUrl = contentForQuerystring | split: '"pageurl":"' | last | split: '"' | first | split: '.karhu.com' | last | replace_first: '\/', '' | replace: '%20', ' ' | replace: '\u0026', '&'
      assign pageQuerystring = pageUrl | split: '?' | last | url_param_escape | strip

      if pageQuerystring != blank and pageQuerystring != ''
        assign pageQuerystring = '?' | append: pageQuerystring
      endif

      assign redirectParam = '?return_url=' | append: request.path | append: pageQuerystring
    -%}
    <meta content='0; url=/account/login{{- redirectParam -}}' http-equiv='refresh'>
  {%- else -%}
    <head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width,initial-scale=1'>
      <meta name='theme-color' content=''>
      <link rel='canonical' href='{{ canonical_url }}'>
      <link rel='preload' href='{{- 'index.css' | asset_url -}}' as='style'>

      <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>

      {%- if settings.favicon != blank -%}
        <link rel='icon' type='image/png' href='{{ settings.favicon | img_url: '32x32' }}'>
      {%- endif -%}

      <title>{{ page_title }}</title>

      {%- render 'head.meta' -%}
      {%- render 'head.style' -%}
      {%- render 'window.phill' -%}

      {% if page_description %}
        <meta name='description' content='{{ page_description | escape }}'>
      {% endif %}

      {%- render 'liquid-variables' -%}

      {% comment %} Add the right preload fonts {% endcomment %}
      <link
        rel='preload'
        as='font'
        href='{{ 'GT-America-Regular.woff2' | asset_url | split: '?' | first }}'
        type='font/woff2'
        crossorigin
      >
      <link
        rel='preload'
        as='font'
        href='{{ 'GT-America-Compressed-Medium.woff2' | asset_url | split: '?' | first }}'
        type='font/woff2'
        crossorigin
      >
      <link
        rel='preload'
        as='font'
        href='{{ 'GT-America-Compressed-Bold.woff2' | asset_url | split: '?' | first }}'
        type='font/woff2'
        crossorigin
      >
    </head>

    <body class='min-h-screen antialiased'>
      {%- render 'component.skip-to-content' -%}

      {%- section 'announcement-bar' -%}
      {%- section 'header' -%}
      {%- section 'cart-drawer' -%}

      <main
        id='MainContent'
        class='content-for-layout focus-none'
        role='main'
        tabindex='-1'
      >
        {{ content_for_layout }}
      </main>

      <ul hidden>
        <li id='a11y-refresh-page-message'>{{ 'accessibility.refresh_page' | t }}</li>
      </ul>

      {%- section 'footer' -%}
      {%- render 'footer.scripts' -%}
      {% comment %} We load content header at the end for perfomance, thanks jad {% endcomment %}
      {{ content_for_header }}
    <script>
      document.getElementById("orderOverviewBtn").addEventListener("click", function(event){
      event.preventDefault();

      const overviewId = '{{customer.metafields.details.url}}';
      const username = '{{ customer.email }}';
      const password = '{{customer.metafields.details.auth}}';
        
    authenticate(overviewId, username, password);
});

      
function authenticate(overviewId, username, password) {
    event.preventDefault();
    const url = 'https://karhu.bettywebblocks.com/login/post';
    const data = {
        email: username,
        password: password,
        overviewId: overviewId
    };

    return fetch(url, {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include', // to include credentials in CORS requests
        body: JSON.stringify(data) 
    })
    .then(response => {
        if (response.ok) {  // response.ok is true if response status is 200-299
            window.location.href = 'https://karhu.bettywebblocks.com/overview';
        } else {
            return response.json();
        }
    })
    .then(json => {
        if(json) console.log(json);
    })
    .catch(error => console.error('Error:', error));
}



    </script>
    </body>
  {%- endif -%}
</html>
