{%- liquid
  assign s = section.settings
  assign year = 'today' | date: '%Y'

  capture socials_string
    for s in settings
      if s contains 'social_'
        echo s | append: ','
      endif
    endfor
  endcapture
  assign socials = socials_string | split: ','
-%}
<div class='w-full pt-[60px] lg:pt-10'></div>
<footer class='border-t border-grey-1'>
  <div class='flex container'>
    <div class='flex flex-col justify-center items-center flex-1 border-r border-grey-1 p-8 lg:pt-[135px] lg:pb-[120px]'>
      <a href='{{- routes.root_url -}}'>
        {%- render 'component.icon', type: 'karhu-logo-footer', class: 'w-20 lg:w-32' -%}
      </a>
      <ul class='flex flex-wrap justify-center mt-12 lg:mt-9 gap-[30px] lg:gap-9'>
        {%- for s in socials -%}
          {%- liquid
            assign split_string = s | split: '_'
            assign link = settings[s] | default: null
          -%}
          {%- if link != null -%}
            <li>
              <a target='_blank' href='{{- link -}}'>
                {%- render 'component.icon',
                  type: split_string[1],
                  class: 'transition md:hover:opacity-70'
                -%}
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class='lg:flex lg:justify-center lg:gap-[60px] lg:pt-[120px] flex-1 px-8 py-12 lg:p-0'>
      {% if s.navigation_first.links.size > 0 %}
        <ul class='w-[172px] lg:w-[180px] mb-7 lg:mb-0'>
          <li class='text-heading-7'>{{- s.navigation_first.title -}}</li>
          {%- for link in s.navigation_first.links -%}
            <li class='text-body-sm mt-[2px]'>
              <a target='_blank' href='{{- link.url -}}'>
                {{- link.title -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
      {% if s.navigation_second.links.size > 0 %}
        <ul class='w-[172px] lg:w-[180px]'>
          <li class='text-heading-7'>{{- s.navigation_second.title -}}</li>
          {%- for link in s.navigation_second.links -%}
            <li class='text-body-sm mt-[2px]'>
              <a target='_blank' href='{{- link.url -}}'>
                {{- link.title -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
    </div>
  </div>
  {%- render 'component.footer-bar', is_menu: false -%}
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation_first",
      "label": "Navigation"
    },
    {
      "type": "link_list",
      "id": "navigation_second",
      "label": "Navigation Bottom"
    }
  ]
}
{% endschema %}
