{%- include 'function.agent' -%}
{%- liquid
  assign product_ids = cart.items | map: 'product_id' | uniq
-%}

<section
  data-component='cart'
  data-section-id='{{- section.id -}}'
  data-item-count='{{ cart.item_count }}'
  class='container px-4 mt-[28px] lg:mt-[60px] mb-[60px] lg:mb-[100px] is-loading:opacity-50 is-loading:pointer-events-none'
>
  <div data-section>
    <div class='max-w-[720px] mx-auto'>
      <div class='flex lg:mb-[60px] justify-between items-end mb-7'>
        <h4 class='text-heading-4 lg:text-heading-3'>
          {{- 'cart.general.title' | t -}}
        </h4>
        <a class='underline' href='{{- routes.account_url -}}?menu=carts'>
          {{- 'cart.general.view_saved_carts' | t -}}
        </a>
      </div>
      {%- if cart.items.size > 0 -%}
        <div class='text-body-sm'>
          {%- for id in product_ids -%}
            {%- assign product_variants = cart.items | where: 'product_id', id | sort: 'title' -%}

            {%- render 'cart-item',
              item: product_variants[0],
              product_variants: product_variants,
              shared: false
            -%}
            {%- render 'cart-edit-drawer',
              item: product_variants[0],
              product_variants: product_variants
            -%}
          {%- endfor -%}
          <div class='flex justify-between text-body-lg my-10 lg:mt-[60px]'>
            <p>Subtotal</p>
            <p data-subtotal='{{- cart.total_price | money -}}'>
              {{- cart.total_price | money -}}
            </p>
          </div>
          <div>
            {%- liquid
              if agent
                render 'cart-save', items: cart.items
              endif
            -%}
            {%- render 'component.button',
              text: 'Go to checkout',
              style: 'primary',
              class: 'w-full',
              type: 'submit'
            -%}
          </div>
        </div>
      {%- else -%}
        <div>
          <p class='mb-7 lg:mb-9'>{{- 'cart.general.empty' | t -}}</p>
          {%- render 'component.button',
            text: 'cart.general.go_shopping',
            style: 'primary',
            class: 'px-8 lg:px-12 inline-block',
            href: '/collections/all'
          -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
