{%- include 'function.agent' -%}

<section
  data-component='cart'
  class='container px-4 mt-[28px] lg:mt-[60px] mb-[60px] lg:mb-[100px]'
>
  <div class='max-w-[720px] mx-auto'>
    <div class='flex lg:mb-10 flex-col lg:flex-row justify-between lg:items-center'>
      <h4 class='text-heading-4 lg:text-heading-3 mb-7 lg:mb-0'>
        {{- 'cart.general.title' | t -}}
      </h4>
      {%- if agent -%}
        {%- render 'component.select',
          options: null,
          placeholder_class: 'text-grey-3',
          container_class: 'border border-grey-4 w-full lg:max-w-[300px] mb-7 lg:mb-0',
          select_class: 'px-4 py-[18px] w-full appearance-none',
          placeholder: 'Select Saved Cart'
        -%}
      {%- endif -%}
    </div>
    {%- if cart.items.size > 0 -%}
      <div class='text-body-sm'>
        {%- for item in cart.items -%}
          {%- render 'cart.product', item: item, shared: false -%}
          {%- render 'cart.product-sidebar', item: item -%}
        {%- endfor -%}
        <div class='flex justify-between text-body-lg my-10 lg:mt-[60px]'>
          <p>Subtotal</p>
          <p data-subtotal='{{- cart.total_price | money -}}'>
            {{- cart.total_price | money -}}
          </p>
        </div>
        <div>
          {%- if agent -%}
            <div class='flex gap-2 lg:gap-4 mb-2 lg:mb-4'>
              {%- render 'component.button',
                text: 'Share',
                style: 'secondary',
                class: 'w-full is-active:border-black',
                attributes: 'data-share-cart-btn'
              -%}
              {%- render 'component.button', text: 'Save', style: 'secondary', class: 'w-full', attributes: 'data-save-cart-btn data-id="{{- item.id -}}"' -%}
            </div>
          {%- endif -%}
          {%- render 'component.button',
            text: 'Go to checkout',
            style: 'primary',
            class: 'w-full'
          -%}
        </div>
      </div>
    {%- else -%}
      <div>
        <p class='mb-7 lg:mb-9'>{{- 'cart.general.empty' | t -}}</p>
        {%- render 'component.button',
          text: 'cart.general.go_shopping',
          style: 'primary',
          class: 'px-8 lg:px-12 inline-block',
          href: '/'
        -%}
      </div>
    {%- endif -%}
  </div>
  <div
    data-sidebar-layer
    class='fixed transition-opacity w-full duration-300 h-full opacity-0 inset-0 bg-[#1E1E1E] bg-opacity-50 z-10 pointer-events-none is-active:pointer-events-auto is-active:opacity-100'
  ></div>
  {%- render 'component.popup',
    content_snippet: 'cart.save-popup.content',
    footer_snippet: 'cart.save-popup.footer',
    title: 'cart.general.save_cart'
  -%}
</section>
