{%- include 'product.tags' -%}
{%- liquid
  assign navigation = linklists[settings.breadcrumbs] | default: null

  for link in navigation.links
    assign linkHandle = link.url | split: '/' | last | split: '?' | first
    unless first_link
      for collection in product.collections
        if linkHandle == collection.handle
          assign first_link = collection
          break
        endif
      endfor
    endunless
  endfor

  assign currentProduct = product.handle
-%}

<div
  class='container grid grid-cols-1 lg:grid-cols-[1fr_min(40%,800px)]'
  data-component='productData'
>
  {%- render 'product.images' -%}
  <div class='py-7 px-4 lg:px-[60px] lg:pt-7 lg:pb-[100px] overflow-hidden'>
    {%- render 'component.breadcrumbs',
      first_link: first_link,
      second_link: product,
      active_link: product,
      class: 'mb-7 text-detailed'
    -%}
    <h5 class='text-heading-5 mb-1'>{{- product.title -}}</h5>
    <div class='flex items-center justify-between text-grey-3 mb-1 uppercase'>
      <p>{{- product.metafields.color.value -}}</p>
      <p>{{- product.selected_or_first_available_variant.sku -}}</p>
    </div>
    <p class='text-body'>
      <span class='{%- if product.compare_at_price -%} text-red-light {%- endif -%}'>
        {{- product.price | money -}}
      </span>
      {%- if product.compare_at_price -%}
        &nbsp;<span class='line-through'>{{- product.compare_at_price | money -}}</span>
      {%- endif -%}
    </p>
    {%- render 'product.colors', currentProduct: currentProduct, familyTag: familyTag -%}
    {%- render 'product.sizes' -%}
    {%- render 'component.button',
      text: 'products.product.add_to_cart',
      style: 'primary',
      size: 'lg',
      class: 'w-full mt-10'
    -%}
    <div class='mt-8'>
      {%- render 'component.accordion',
        title: 'Description',
        content: product.description,
        group: 'description'
      -%}
      {%- render 'component.accordion',
        title: 'Delivery & Returns',
        content: 'Hardcoded content',
        group: 'delivery'
      -%}
      {%- render 'component.accordion',
        title: 'Size Guide',
        content: 'Hardcoded content',
        group: 'size'
      -%}
    </div>
  </div>
</div>
