{%- liquid
  assign family_metafield = product.metafields.details.product_family
  assign size_guide = product.metafields.details.size_guide

  assign navigation = linklists[settings.breadcrumbs] | default: null

  for link in navigation.links
    assign linkHandle = link.url | split: '/' | last | split: '?' | first
    unless first_link
      for collection in product.collections
        if linkHandle == collection.handle
          assign first_link = collection
          break
        endif
      endfor
    endunless
  endfor

  assign current_product = product.handle

  for block in section.blocks
    assign guide = block.settings.title
    if guide == size_guide
      assign sizeNote = block.settings.text | strip_html
    endif
    if block.type == 'size-guide'
      if block.settings.title contains size_guide
        assign sizeGuideContent = pages[block.settings.size_guide_page]
      endif
    endif
  endfor
-%}

{%- for block in section.blocks -%}
  {%- assign guide = block.settings.title -%}
  {%- if guide == size_guide -%}
    {%- assign sizeNote = block.settings.text | strip_html -%}
  {%- endif -%}
  {% if block.type == 'size-guide' %}
    {%- if block.settings.title contains size_guide -%}
      {%- assign sizeGuideContent = pages[block.settings.size_guide_page] -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

<div
  class='container grid grid-cols-1 lg:grid-cols-[1fr_min(40%,800px)]'
  data-component='productForm'
>
  {%- render 'product.images' -%}
  <div class='py-7 px-4 lg:px-[60px] lg:pt-7 lg:pb-[100px] overflow-hidden lg:mt-[var(--header-height)]'>
    {%- render 'component.breadcrumbs',
      first_link: first_link,
      second_link: product,
      active_link: product,
      class: 'mb-7 text-detailed'
    -%}
    <h5 class='text-heading-5 mb-1'>{{- product.title -}}</h5>
    <div class='flex items-center justify-between text-grey-3 mb-1 uppercase'>
      <p>{{- product.metafields.color.value -}}</p>
      <p>{{- product.selected_or_first_available_variant.sku -}}</p>
    </div>
    <p class='text-body'>
      <span class='{%- if product.compare_at_price -%} text-red-light {%- endif -%}'>
        {{- product.price | money -}}
      </span>
      {%- if product.compare_at_price -%}
        &nbsp;<span class='line-through'>{{- product.compare_at_price | money -}}</span>
      {%- endif -%}
    </p>
    {%- render 'product.colors',
      current_product: current_product,
      family_metafield: family_metafield
    -%}
    {%- render 'product-sizes' -%}
    {%- render 'component.button',
      text: 'products.product.add_to_cart',
      style: 'primary',
      size: 'lg',
      class: 'w-full mt-10'
    -%}
    <div class='mt-8 product-details'>
      {%- if product.description != '' -%}
        {%- render 'product.accordion',
          title: 'products.product.details.description',
          content: product.description,
          group: 'description'
        -%}
      {%- endif -%}
      {%- liquid
        assign content = 'products.product.details.delivery_and_returns_content' | t
        assign view_more_text = ''
        if content != null
          assign view_more_text = 'products.product.details.delivery_and_returns_more'
        endif
      -%}
      {%- render 'product.accordion',
        title: 'products.product.details.delivery_and_returns',
        content: content,
        group: 'delivery',
        view_more_text: view_more_text
      -%}
      {%- if pages[section.settings.delivery_page].content != null
        or pages[section.settings.delivery_page].content != ''
      -%}
        {%- render 'component.modal',
          title: pages[section.settings.delivery_page].title,
          content: pages[section.settings.delivery_page].content,
          group: 'delivery'
        -%}
      {%- endif -%}
      {%- liquid
        assign view_more_text = ''
        if sizeGuideContent.content != null
          assign view_more_text = 'products.product.details.size_guide_more'
        endif
      -%}
      {%- if sizeNote != null or sizeGuideContent.content != null -%}
        {%- render 'product.accordion',
          title: 'products.product.details.size_guide',
          content: sizeNote,
          group: 'size',
          view_more_text: view_more_text
        -%}
        {%- render 'component.modal',
          title: sizeGuideContent.title,
          content: sizeGuideContent.content,
          group: 'size'
        -%}
      {%- endif -%}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Product page",
  "settings": [
    {
      "type": "header",
      "content": "Delivery & returns"
    },
    {
      "type": "page",
      "label": "Delivery and returns content",
      "id": "delivery_page"
    }
  ],
  "blocks": [
    {
      "type": "size-guide",
      "name": "Size guide",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "placeholder": "one,two",
          "label": "Matching metafields (Size Guide)"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>New to the Fusion 2.0? We recommend to order 0.5 up in size compared to your regular size.</p>"
        },
        {
          "type": "page",
          "id": "size_guide_page",
          "label": "Size guide page"
        }
      ]
    }
  ]
}
{%- endschema -%}
