{%- include 'function.agent' -%}
{%- liquid
  assign s = section.settings
  assign image = s.image
  assign desktop_image = s.desktop_image

  if request.path contains '/account/addresses'
    assign template = 'address'
  else
    assign template = 'account'
  endif
-%}
<div
  data-component='account'
  class='container'
  {%- if agent -%}
    data-is-agent='{{- agent -}}'
  {%- endif -%}
>
  {%- render 'component.header',
    title_tag: 'h2',
    title: s.title,
    image: image,
    desktop_image: desktop_image,
    lazyload_image: false,
    class: 'max-h-[max(30vh,450px)] lg:max-h-[max(45vh,640px)]'
  -%}
  <div class='flex flex-col lg:flex-row lg:gap-[60px] lg:p-[60px] lg:pb-0'>
    <div class='text-heading-7 border-b border-grey-5 lg:border-none'>
      <ul class='flex gap-5 py-[18px] px-4 lg:p-0 lg:block lg:min-w-[180px] overflow-auto'>
        {%- if agent -%}
          <li
            data-tab-link='orders'
            class='text-grey-4 lg:mb-3 whitespace-nowrap is-active:text-black {% if template != 'address' -%}is-active{%- endif %}'
          >
            <a
              class='hidden lg:inline'
              href='{{ routes.account_url }}'
            >
              {{- 'customer.account.orders.tab_title_desktop' | t -}}
            </a>
            <a
              class='lg:hidden inline'
              href='{{ routes.account_url }}'
            >
              {{- 'customer.account.orders.tab_title_mobile' | t -}}
            </a>
          </li>
          <li
            data-tab-link='carts'
            class='text-grey-4 lg:mb-3 whitespace-nowrap is-active:text-black'
          >
            <a
              href='{{ routes.account_url | append: "?t=carts" }}'
            >
              {{- 'customer.account.saved_carts' | t -}}
            </a>
          </li>
        {%- else -%}
          <li
            data-tab-link='orders'
            class='lg:mb-3 whitespace-nowrap text-grey-4 is-active:text-black {% if template != 'address' -%}is-active{%- endif -%}'
          >
            <a
              class='hidden lg:inline'
              href='{{ routes.account_url }}'
            >
              {{- 'customer.account.orders.tab_title_desktop' | t -}}
            </a>
            <a
              class='lg:hidden inline'
              href='{{ routes.account_url }}'
            >
              {{- 'customer.account.orders.tab_title_mobile' | t -}}
            </a>
          </li>
        {%- endif -%}
        <li class='{%- if template == 'account' -%} text-grey-4 {%- endif %} lg:mb-3 whitespace-nowrap'>
          <a href='{{ routes.account_addresses_url }}'>
            {{- 'customer.account.addresses.your_info' | t -}}
          </a>
        </li>

        
        <li class='{%- if template == 'account' -%} text-grey-4 {%- endif %} lg:mb-3 whitespace-nowrap'>
          <a href='https://karhu.bettywebblocks.com/overview/{{ customer.metafields.details.url }}'>
            Order Nafite
          </a>
        </li>
        
        <li>
          <a class='text-grey-4' href='{{ routes.account_logout_url }}'>
            {{- 'customer.account.logout' | t -}}
          </a>
        </li>
      </ul>
    </div>
    <div class='pt-7 px-4 pb-[60px] lg:p-0 lg:pb-[100px] w-full'>
      {%- if template == 'address' -%}
        {%- render 'account.addresses' -%}
      {%- else -%}
        {%- render 'account-orders', attributes: "data-tab='orders'", agent: agent -%}
        {%- if agent -%}
          {%- render 'account-cart-templates', attributes: "data-tab='carts'" -%}
        {%- endif -%}
      {% endif %}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Account",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    }
  ],
  "presets": [
    {
      "name": "Account"
    }
  ]
}
{%- endschema -%}
