{%- include 'function.agent' -%}
{%- liquid
  assign product_ids = cart.items | map: 'product_id' | uniq
-%}

<section
  data-component='cart'
  data-section-id='{{- section.id -}}'
  class='container px-4 mt-[28px] lg:mt-[60px] mb-[60px] lg:mb-[100px]'
>
  <div data-section>
    <div class='max-w-[720px] mx-auto'>
      <div class='flex lg:mb-[60px] justify-between items-end mb-7'>
        <h4 class='text-heading-4 lg:text-heading-3'>
          {{- 'cart.general.title' | t -}}
        </h4>
        <a class='underline' href='{{- routes.account_url -}}?menu=carts'>
          {{- 'cart.general.view_saved_carts' | t -}}
        </a>
      </div>
      {%- if cart.items.size > 0 -%}
        <div class='text-body-sm'>
          {%- for id in product_ids -%}
            {%- assign product_variants = cart.items | where: 'product_id', id -%}
            <form data-remove-item-form data-id='{{- id -}}' class='hidden'>
              {%- for item in product_variants -%}
                <input name='updates[{{- item.id -}}]' type='hidden' value='0'>
              {%- endfor -%}
            </form>
            {%- render 'cart.product',
              item: product_variants[0],
              product_variants: product_variants,
              shared: false
            -%}
            {%- render 'cart.product-sidebar',
              item: product_variants[0],
              product_variants: product_variants
            -%}
          {%- endfor -%}
          <div class='flex justify-between text-body-lg my-10 lg:mt-[60px]'>
            <p>Subtotal</p>
            <p data-subtotal='{{- cart.total_price | money -}}'>
              {{- cart.total_price | money -}}
            </p>
          </div>
          <div>
            {%- if agent -%}
              <div class='flex gap-2 lg:gap-4 mb-2 lg:mb-4'>
                {%- comment -%}
                   {%- render 'component.button',
                    text: button_content,
                    style: 'secondary',
                    class: 'group w-full hidden is-active:border-black',
                    attributes: 'data-share-cart-btn'
                  -%}
                {%- endcomment -%}
                {%-
                  render 'component.button',
                  text: 'cart.general.save',
                  style: 'secondary',
                  class: 'w-full flex items-center justify-center gap-2 lg:gap-4 group is-active:bg-green-dark is-active:border-green-dark is-active:text-white',
                  attributes: 'data-save-cart-btn data-id="{{- item.id -}}"',
                  success_text: 'cart.general.cart_saved',
                  success_text_class: 'hidden group-is-active:inline',
                  success_icon: 'check',
                  success_icon_class: 'hidden group-is-active:inline'
                -%}
              </div>
            {%- endif -%}
            {%- render 'component.button',
              text: 'Go to checkout',
              style: 'primary',
              class: 'w-full'
            -%}
          </div>
        </div>
      {%- else -%}
        <div>
          <p class='mb-7 lg:mb-9'>{{- 'cart.general.empty' | t -}}</p>
          {%- render 'component.button',
            text: 'cart.general.go_shopping',
            style: 'primary',
            class: 'px-8 lg:px-12 inline-block',
            href: '/'
          -%}
        </div>
      {%- endif -%}
    </div>
    <div
      data-sidebar-layer
      class='fixed transition-opacity w-full duration-300 h-full opacity-0 inset-0 bg-[#1E1E1E] bg-opacity-50 z-10 pointer-events-none is-active:pointer-events-auto is-active:opacity-100'
    ></div>
    {%- render 'component.popup',
      content_snippet: 'cart.save-popup.content',
      footer_snippet: 'cart.save-popup.footer',
      title: 'cart.general.save_cart',
      type: 'save-cart'
    -%}
    {%- render 'component.popup',
      footer_snippet: 'cart.save-popup-success.footer',
      title: 'cart.general.cart_saved',
      type: 'share-cart'
    -%}
  </div>
</section>
