{%- include 'function.agent' -%}
{%- liquid
  assign product_ids = cart.items | map: 'product_id' | uniq
  assign s = section.settings
-%}

<section
  data-component='cart'
  data-section-id='{{- section.id -}}'
  data-item-count='{{ cart.item_count }}'
  class='container px-4 mt-[28px] lg:mt-[60px] mb-[60px] lg:mb-[100px] is-loading:opacity-50 is-loading:pointer-events-none'
>
  <section data-section>
    <form action='{{ routes.cart_url }}' method='post' class='max-w-[720px] mx-auto'>
      <div class='flex lg:mb-[60px] justify-between items-end mb-7'>
        <h4 class='text-heading-4 lg:text-heading-3'>
          {{- 'cart.general.title' | t -}}
        </h4>
        {%- if agent -%}
          <a class='underline' href='{{- routes.account_url -}}?t=carts'>
            {{- 'cart.general.view_saved_carts' | t -}}
          </a>
        {%- endif -%}
      </div>
      {%- if cart.items.size > 0 -%}
        <div class='text-body-sm'>
          {%- for id in product_ids -%}
            {%- assign product_variants = cart.items | where: 'product_id', id -%}
            {%- render 'cart-item',
              item: product_variants[0],
              product_variants: product_variants,
              shared: false
            -%}
          {%- endfor -%}
          <div class='flex justify-between text-body-lg my-10 lg:mt-[60px]'>
            <p>Subtotal</p>
            <p data-subtotal='{{- cart.total_price | money -}}'>
              {{- cart.total_price | money -}}
            </p>
          </div>

          <div class='flex flex-col gap-2 lg:gap-4'>
            {%- if s.enable_note or s.enable_request_shipping_date -%}
              <div class='flex flex-wrap gap-2 lg:gap-4'>
                {%- if s.enable_note -%}
                  <fieldset class='flex flex-col gap-1 grow'>
                    <label class='text-body-xs' for='note'>Note</label>
                    <input
                      data-note-input
                      id='note'
                      type='text'
                      name='note'
                      maxlength="35"
                      value='{{- cart.note -}}'
                      class='py-3 px-4 border border-black leading-none'
                    >
                  </fieldset>
                {%- endif -%}
                {%- if s.enable_request_shipping_date -%}
                  <fieldset class='flex gap-1 flex-col grow lg:max-w-[200px]'>
                    <label class='text-body-xs' for='requested_shipping_date'
                      >Requested shipping date</label
                    >
                    {%- liquid
                      assign unix_day = 86400
                      assign unix_min = s.min_shipping_days | times: unix_day
                      assign unix_max = s.max_shipping_days | times: unix_day
                    -%}
                    <input
                      data-attribute-input
                      name='attributes[Requested shipping date]'
                      id='requested_shipping_date'
                      class='py-3 px-4 border border-black leading-none'
                      type='date'
                      min='{{- "now" | date: "%s" | date: "%Y-%m-%d" -}}'
                      max='{{- "now" | date: "%s" | plus: unix_max | date: "%Y-%m-%d" -}}'
                      value='{{- cart.attributes['Requested shipping date'] -}}'
                    >
                  </fieldset>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- render 'component.button',
              text: 'Go to checkout',
              tag: 'input',
              attributes: 'name="checkout" disabled data-go-to-checkout-btn',
              style: 'primary',
              class: 'w-full disabled:cursor-not-allowed disabled:hover:bg-black disabled:hover:text-white',
              type: 'submit'
            -%}
            {%- liquid
              if agent
                render 'cart-save', items: cart.items
              endif
            -%}
          </div>
        </div>

        {%- liquid
          unless agent
            for tag in customer.tags
              assign startsWith = tag | split: 'id:'
              if startsWith[0] == blank
                assign storeId = startsWith[1]
              endif
            endfor
          endunless
        -%}
        <input
          data-store-id
          required
          class='hidden'
          id='store'
          type='text'
          name='attributes[store]'
          value='{{- storeId | default: 'INVALID_ORDER' -}}'
        >
      {%- else -%}
        <div>
          <p class='mb-7 lg:mb-9'>{{- 'cart.general.empty' | t -}}</p>
          {%- render 'component.button',
            text: 'cart.general.go_shopping',
            style: 'primary',
            class: 'px-8 lg:px-12 inline-block',
            href: '/collections/all'
          -%}
        </div>
      {%- endif -%}
    </form>
    {%- for id in product_ids -%}
      {%- assign product_variants = cart.items | where: 'product_id', id | sort: 'title' -%}
      <form data-remove-form class='hidden'>
        {%- for item in product_variants -%}
          <input name='updates[{{- item.id -}}]' type='hidden' value='0'>
        {%- endfor -%}
        <input type='submit' id='submit-remove-{{- id -}}'>
      </form>
      {%- render 'cart-edit-drawer',
        item: product_variants[0],
        product_variants: product_variants
      -%}
    {%- endfor -%}
  </section>
</section>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "header",
      "content": "Requested shipping date"
    },
    {
      "type": "checkbox",
      "id": "enable_request_shipping_date",
      "label": "Enable request shipping date",
      "default": true
    },
    {
      "type": "number",
      "id": "min_shipping_days",
      "label": "Min. shipping days",
      "default": 14
    },
    {
      "type": "number",
      "id": "max_shipping_days",
      "label": "Max. shipping days",
      "default": 1095
    },
    {
      "type": "header",
      "content": "Note"
    },
    {
      "type": "checkbox",
      "id": "enable_note",
      "label": "Enable order notes",
      "default": true
    }
  ]
}
{% endschema %}
