{% comment %} Section rendered on product page {% endcomment %}
<header class='border-b border-gray-4 pb-9 mb-9 flex flex-none items-center gap-4 lg:gap-6'>
  <a
    href='{{- product.url -}}'
    class='relative shrink-0 w-[120px] h-[120px] overflow-hidden flex justify-center items-center bg-grey-6'
  >
    {%- if product.images.size > 0 -%}
      {%- render 'component.image',
        img: product.images[0],
        class: 'w-full mix-blend-darken',
        width: 120
      -%}
    {%- else -%}
      {%- render 'image-placeholder' -%}
    {%- endif -%}
  </a>
  <div>
    <h5 class='text-body-sm'>
      <a href='{{- product.url -}}'>
        {{- product.title | truncate: 40 -}}
      </a>
    </h5>
    <p class='text-grey-3 text-detailed'>{{- product.metafields.color.value -}}</p>
    <p class='text-detailed mt-2'>
      <span class='{%- if product.compare_at_price -%} text-red-light {%- endif -%}'>
        {{- product.price | money -}}
      </span>
      {%- if product.compare_at_price -%}
        &nbsp;<span class='line-through'>{{- product.compare_at_price | money -}}</span>
      {%- endif -%}
    </p>
    <a href='{{- product.url -}}' class='text-detailed underline'>More info</a>
  </div>
</header>
{%- render 'product-form' -%}
